* {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	background: wheat;
	text-align: center;
	border: solid;
	border-width: thick;
	border-color: wheat;
}
.Top {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	height: 20%;
	width: auto;
	margin-left: .5%;
	margin-right: .5%;
	margin-top: .2%;
	border: outset;
	color: forestgreen;
	box-shadow: 0px 5px 5px black;
}
.Top:hover {
	transition: .5s;
	border-color: red !important;
}
.Top img {
	filter: blue(.8px);
	cursor: pointer;
}
.Top img:hover {
	transition: .5s;
	filter: blur(2px) !important;
}

.Main {
	background: linear-gradient(to bottom right, forestgreen, white);
	border: outset;
	border-color: white;
	box-shadow: 10px 10px 10px black;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1.5%;
	margin-bottom: 2%;
	border-radius: 10px;
	opacity: 0;
}
.Main h1{
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin-top: 2%;
	font-size: 2.5em;
}
.Main hr {
	height: .5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	margin-bottom: 2.5%;
}
nav {
	text-align: center;
	word-spacing: 50px;
	line-height: 200%;
	margin-bottom: 2%;
}
ul {
	list-style-type: none;
}
li {
	display: inline;
}
.link {
	text-decoration: none;
	color: forestgreen;
	background-color: wheat;
	border-radius: 0px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 1.5em;
	font-family: georgia;
	box-shadow: 5px 5px 0px black;
}
.link:hover {
	transition: .2s !important;
	color: red !important;
	background-color: black !important;
}
.Main img{
	margin-top: 2%;
	margin-bottom: 5%;
	border: solid;
	border-color: black;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black;
	background-position: center;
	background-repeat: no-repeat;
}
footer p{
	cursor: pointer;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	right: 5;
}
#weatherwidget-io {
	display: none;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 5px 5px 5px black;
	border: solid;
	border-color: black;
	border-radius: 5px;
}